@model proyecto.Models.FamiliaAmigos

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FamiliaAmigos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipodoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipodoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_nacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_nacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacionlaboral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacionlaboral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAfinidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAfinidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMigrantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMigrantes)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
