@model proyecto.Models.servicios

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>servicios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroPersonas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPersonas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Entidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Entidad.Nit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdServicioEntidad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
