@model proyecto.Models.AsignarEmergenciasMigrante

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AsignarEmergenciasMigrante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergenciasMigrantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergenciasMigrantes.Ciudad)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadServicioEmergencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadServicioEmergencia.Ciudad)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAsignarEmergenciasMigrante" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
