@model proyecto.Models.AsignarEmergenciasMigrante

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>AsignarEmergenciasMigrante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmergenciasMigrantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmergenciasMigrantes.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntidadServicioEmergencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntidadServicioEmergencia.Ciudad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAsignarEmergenciasMigrante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
