@model IEnumerable<proyecto.Models.EmergenciasMigrantes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Emergencias</h1>

<form asp-controller="EmergenciasMigrantes" asp-action="Index2">
    <p>
        Busqueda: <select type="text" name="SearchString" >
                 <option>Policial</option>
                 <option>salud</option>
        </select>
        <select type="text" name="Ciudad" >
                 <option>Bogota</option>
                 <option>Cali</option>
                 <option>Medellin</option>
                 <option>Cartagena</option>
                 <option>Barranquilla</option>
                 <option>Bucaramanga</option>
                 <option>Tunja</option>
                 <option>Manizales</option>
                 <option>Armenia</option>
        </select>
        
        <input type="submit" value="Filter" />
    </p>
</form>
<form asp-controller="EmergenciasMigrantes" asp-action="Index3">

    <p>
        busquedaporestado:
        <select type="text" name="TipoEstado" >
         <option >Por Atender</option>
         <option >Atendendido</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.migrantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipoemergencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.migrantes.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipoemergencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudad)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEmergenciasMigrantes">Edit</a> 
                
            </td>
        </tr>
}
    </tbody>
</table>
<div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="AsignarEmergenciasMigrantes">Asignar Emergencia</a>
           
        </div>
